
<section class="gt_section-215798 " data-name="Footer">
  <div class="gt_container">
    <div class="gt_footer-top">
      <div class="gt_footer-grid-nav">
        <h3 class="gt_title">
          NAVIGATION
        </h3>
        <ul class="gt_navFooter">
          
          
              
                
                  
                  
                      
                  
                  <li>
                    <a href="#">Search</a>
                  </li>
                
                
                  
                  
                      
                  
                  <li>
                    <a href="#">About Us</a>
                  </li>
                
                
                  
                  
                      
                  
                  <li>
                    <a href="#">Contact</a>
                  </li>
                
            
          </ul>
      </div>
      <div class="gt_footer-newletter">
        <h3 class="gt_title">
          NEWSLETTER
        </h3>
        
          {% form 'customer' %}
        
          {% if form.posted_successfully? %}
            <div class="form_subcribe">
              <p class="result">Thanks for subscribing</p>
            </div>
          {% else %}
            <div class="gt_newletter-input">
              <input class="input-newsletter input-group-field gt_newsletter__input" autocorrect="off" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" name="contact[email]" autocapitalize="off" placeholder="email@example.com">
              <button name="commit" type="submit" class="validate bt_submit newsletter__submit button gt_newsletter_submit" aria-label="Subscribe">
                Subscribe
              </button>
            </div>
            {% if form.errors %}
              {% for field in form.errors %}
                 <p class="result-error">{{ field }} {{ form.errors.messages[field] }}</p>
              {% endfor %}
            {% endif %}
          {% endif %}
        
          {% endform %}
          
      </div>
      <div class="gt_footer-social">
              <h3 class="gt_title">GET CONNNECTED</h3>
              <ul class="gt_social-list">
                  <li>
                    
                      <a class="gt_social__facebook" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="18" viewBox="0 0 13 24">    
                              <path fill-rule="nonzero" d="M12.51.005L9.392 0C5.89 0 3.625 2.318 3.625 5.906V8.63H.49a.49.49 0 0 0-.49.49v3.945c0 .27.22.49.49.49h3.135v9.956c0 .27.22.489.49.489h4.091c.271 0 .49-.22.49-.49v-9.956h3.666a.49.49 0 0 0 .49-.489l.002-3.946a.49.49 0 0 0-.49-.49H8.695V6.322c0-1.11.265-1.673 1.713-1.673h2.101c.27 0 .49-.22.49-.49V.494a.49.49 0 0 0-.49-.489z">
                              </path>
                          </svg></a>
                          
                  </li>
                  <li>
                    
                      <a class="gt_social__instagram" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24">
                              <g fill-rule=" nonzero">
                                  <path d="M6.623 0h10.754A6.63 6.63 0 0 1 24 6.623v10.754A6.63 6.63 0 0 1 17.377 24H6.623A6.63 6.63 0 0 1 0 17.377V6.623A6.63 6.63 0 0 1 6.623 0zM2.13 17.377a4.499 4.499 0 0 0 4.494 4.494h10.754a4.499 4.499 0 0 0 4.494-4.494V6.623a4.499 4.499 0 0 0-4.494-4.494H6.623A4.499 4.499 0 0 0 2.13 6.623v10.754z">
                                  </path>
                                  <path d="M12 6c3.308 0 6 2.692 6 6 0 3.309-2.692 6-6 6s-6-2.691-6-6c0-3.308 2.692-6 6-6zm0 9.934A3.938 3.938 0 0 0 15.934 12 3.938 3.938 0 0 0 12 8.066 3.938 3.938 0 0 0 8.066 12 3.938 3.938 0 0 0 12 15.934zM5.5 4A1.507 1.507 0 0 1 7 5.5c0 .394-.16.781-.44 1.06-.279.28-.666.44-1.06.44-.395 0-.781-.16-1.06-.44C4.16 6.282 4 5.895 4 5.5c0-.395.16-.783.44-1.06.277-.28.665-.44 1.06-.44z">
                                  </path>
                              </g>
                          </svg></a>
                          
                  </li>
                  <li>
                    
                      <a class="gt_social__twitter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="18" viewBox="0 0 29 24">
                              <path fill-rule="nonzero" d="M29 2.84a11.71 11.71 0 0 1-3.416.954A6.068 6.068 0 0 0 28.2.444a11.86 11.86 0 0 1-3.78 1.47A5.882 5.882 0 0 0 20.077 0c-3.286 0-5.95 2.714-5.95 6.06 0 .474.053.937.155 1.38C9.338 7.189 4.954 4.776 2.02 1.109a6.102 6.102 0 0 0-.805 3.046 6.089 6.089 0 0 0 2.646 5.044 5.866 5.866 0 0 1-2.695-.76v.075c0 2.936 2.051 5.386 4.771 5.943a5.921 5.921 0 0 1-1.567.213c-.384 0-.756-.039-1.12-.113.757 2.41 2.954 4.162 5.556 4.21a11.796 11.796 0 0 1-7.388 2.59c-.48 0-.953-.03-1.419-.083A16.591 16.591 0 0 0 9.119 24c10.943 0 16.925-9.235 16.925-17.244l-.02-.785A12.005 12.005 0 0 0 29 2.84z">
                              </path>
                          </svg></a>
                          
                  </li>
              </ul>
          </div>
    </div>
    <div class="gt_footer-bottom">
          <div class="gt_meta">
              <p class="copyright">
                © 2020 Musles Media</p>
              <p class="sub-meta">

                  <span class="theme-credit">
                    Powered by Influify
                  </span>

              </p>
          </div>
          <div class="gt_trust_badge">
            
                <ul class="gt_payment-icons">
                
                  <li>
                       
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-visa" viewBox="0 0 43 32">
                          <path d="M30.656 14.744q-1.25-.563-2.594-.531-.969 0-1.484.359t-.516.813.453.812 1.516.891q2.969 1.344 2.938 3.656 0 2.125-1.656 3.391t-4.438 1.266q-2.313-.031-3.906-.719l.469-3.063.438.25q1.781.719 3.313.719.844 0 1.469-.359t.656-1.016q0-.438-.406-.797t-1.469-.891q-.594-.313-1.047-.594t-.953-.734-.781-1.063-.281-1.297q.031-1.969 1.703-3.203t4.266-1.234q1.656 0 3.125.531l-.438 2.969zM16.031 11.65L10.5 25.212H6.812L3.937 14.399q1.5.594 2.734 1.813t1.766 2.656q-1.938-5.344-8.438-6.969l.031-.25h5.656q1.313 0 1.594 1.094l1.219 6.25.406 1.875 3.406-9.219h3.719zm4.938 0l-2.188 13.562h-3.5l2.188-13.563h3.5zm22.312 13.562H40q-.25-1.594-.375-2.031l-4.5-.031-.719 2.063h-3.719l5.219-12.469q.469-1.094 1.844-1.094h2.688zm-5.25-9.937l-.219.578q-.125.328-.203.547t-.047.188q-1.125 3-1.406 3.813H39l-.75-3.938z">
                          </path>
                      </svg>
                  </li>
                
                  
                 <li>
                  
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-master" viewBox="0 0 37 32">
                          <path d="M28.163 19.221c-.871 0-1.045.386-1.045.709 0 .162.1.448.46.448.709 0 .858-.933.834-1.132-.025 0-.05-.025-.249-.025zm-10.215-1.58c-.647 0-.771.734-.771.809h1.319c-.012-.062.112-.809-.547-.809zm-8.959 1.58c-.871 0-1.045.386-1.045.709 0 .162.1.448.46.448.709 0 .859-.933.834-1.132-.025 0-.05-.025-.249-.025zm25.047-1.456c-.523 0-.933.61-.933 1.518 0 .56.199.921.622.921.647 0 .946-.834.946-1.456.012-.684-.212-.983-.635-.983zm-7.628-10.24c-2.7 0-5.176.995-7.08 2.625a11.362 11.362 0 0 1 3.048 4.902h-.523a10.956 10.956 0 0 0-2.899-4.566 10.88 10.88 0 0 0-2.899 4.566h-.523a11.357 11.357 0 0 1 3.235-5.064 11.058 11.058 0 0 0-7.266-2.713C5.354 7.275.377 12.252.377 18.398s4.977 11.123 11.124 11.123c2.775 0 5.313-1.02 7.266-2.7a11.47 11.47 0 0 1-3.036-4.479h.535a10.896 10.896 0 0 0 2.688 3.969 10.909 10.909 0 0 0 2.688-3.969h.535a11.257 11.257 0 0 1-2.849 4.305 10.864 10.864 0 0 0 7.08 2.625c5.997 0 10.875-4.878 10.875-10.875S32.406 7.522 26.408 7.522zM5.07 21.287l.672-4.243-1.518 4.243h-.809l-.1-4.243-.722 4.243H1.448l.946-5.636h1.729l.05 3.459 1.17-3.459h1.866l-.933 5.636H5.069zm4.043 0l.037-.448c-.025 0-.373.547-1.219.547-.435 0-1.145-.236-1.145-1.269 0-1.319 1.07-1.754 2.103-1.754.162 0 .51.025.51.025s.037-.075.037-.299c0-.361-.323-.411-.759-.411-.771 0-1.294.212-1.294.212l.174-1.02s.622-.261 1.431-.261c.423 0 1.63.05 1.63 1.431l-.46 3.26H9.113zm4.393-1.444c0 1.568-1.518 1.506-1.792 1.506-.995 0-1.294-.137-1.331-.149l.162-1.033c0-.012.498.174 1.045.174.323 0 .734-.025.734-.411 0-.572-1.481-.436-1.481-1.792 0-1.194.883-1.543 1.767-1.543.672 0 1.095.087 1.095.087l-.149 1.045s-.647-.05-.809-.05c-.423 0-.647.087-.647.386 0 .61 1.406.311 1.406 1.779zm1.729-2.015l-.336 2.053c-.025.162.025.386.435.386.1 0 .224-.037.299-.037l-.149 1.008c-.124.037-.46.149-.883.149-.547 0-.946-.311-.946-1.008 0-.473.672-4.33.697-4.355h1.182l-.124.697h.585l-.149 1.107h-.61zm2.874 2.513c.597 0 1.257-.286 1.257-.286l-.212 1.145s-.386.199-1.244.199c-.946 0-2.041-.398-2.041-2.066 0-1.443.883-2.725 2.065-2.725 1.294 0 1.692.946 1.692 1.73 0 .311-.149 1.082-.149 1.082h-2.414c0-.025-.224.921 1.045.921zm3.932-2.302c-.821-.286-.883 1.294-1.232 3.26H19.59l.734-4.579h1.107l-.1.659s.398-.722.921-.722c.149 0 .224.012.224.012-.149.323-.299.61-.436 1.369zm3.397 3.185s-.635.162-1.033.162c-1.406 0-2.128-.971-2.128-2.451 0-2.227 1.331-3.409 2.7-3.409.61 0 1.331.286 1.331.286l-.199 1.257s-.485-.336-1.082-.336c-.809 0-1.53.771-1.53 2.165 0 .684.336 1.331 1.17 1.331.398 0 .983-.286.983-.286l-.212 1.282zm2.849.063l.037-.448c-.025 0-.373.547-1.219.547-.436 0-1.145-.236-1.145-1.269 0-1.319 1.07-1.754 2.103-1.754.162 0 .51.025.51.025s.037-.075.037-.299c0-.361-.323-.411-.759-.411-.771 0-1.294.212-1.294.212l.174-1.02s.622-.261 1.431-.261c.423 0 1.63.05 1.63 1.431l-.46 3.26c-.012-.012-1.045-.012-1.045-.012zm2.451.012h-1.219l.734-4.579h1.107l-.1.659s.398-.722.921-.722c.149 0 .224.012.224.012-.162.323-.299.61-.435 1.369-.821-.286-.883 1.306-1.232 3.26zm3.621-.012l.05-.423s-.398.498-1.107.498c-.983 0-1.468-.946-1.468-1.916 0-1.506.908-2.812 1.991-2.812.697 0 1.145.61 1.145.61l.261-1.58h1.182l-.908 5.624H34.36zm2.215-.025c-.062.037-.112.05-.174.05s-.124-.012-.174-.05c-.062-.037-.1-.075-.137-.137s-.05-.112-.05-.174.012-.124.05-.174c.037-.062.075-.1.137-.137s.112-.05.174-.05c.062 0 .124.012.174.05.062.025.1.075.137.137s.05.112.05.174a.282.282 0 0 1-.05.174.36.36 0 0 1-.137.137zm-.037-.573c-.05-.025-.1-.037-.149-.037s-.1.012-.149.037c-.05.025-.087.062-.112.112s-.037.1-.037.149.012.1.037.149c.025.05.062.087.112.112s.1.037.149.037c.05 0 .1-.012.149-.037s.087-.062.112-.112.037-.1.037-.149-.012-.1-.037-.149a.243.243 0 0 0-.112-.112zm-.05.461l-.037-.062c-.025-.05-.05-.075-.062-.087s-.025-.012-.05-.012h-.037v.162h-.062v-.386h.137c.05 0 .075 0 .1.012s.037.025.05.037c.012.012.012.037.012.062s-.012.05-.025.075c-.025.025-.05.037-.075.037.012 0 .025.012.037.025s.037.037.062.075l.05.075h-.1zm-.025-.274c0-.012 0-.025-.012-.025l-.025-.025c-.012 0-.037-.012-.062-.012h-.075v.112h.075c.037 0 .062 0 .075-.012.025-.012.025-.025.025-.037z">
                          </path>
                      </svg>
                  </li>
                  
                  <li>
                       
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-american_express" viewBox="0 0 32 32">
                          <path d="M13.397 13.397v-.736H10.57v3.531h2.827v-.725h-1.984v-.704h1.931v-.725h-1.931v-.64zm3.979.214c0-.395-.16-.629-.427-.779-.277-.16-.587-.171-1.024-.171h-1.941v3.541h.843v-1.291h.907c.309 0 .491.032.619.149.149.171.139.48.139.693v.448h.853v-.693c0-.32-.021-.469-.139-.651-.075-.107-.235-.224-.416-.299a1.02 1.02 0 0 0 .587-.949zm-1.109.501c-.117.075-.256.075-.416.075h-1.024v-.789h1.045c.149 0 .299.011.405.064s.181.16.181.309c-.011.16-.075.277-.192.341zM2.069 15.413h1.76l.32.789h1.717v-2.773l1.227 2.773h.747l1.227-2.773v2.773h.864v-3.541H8.534l-1.013 2.4-1.109-2.4H5.036v3.349l-1.44-3.349H2.337L.918 15.968v.224h.821l.331-.779zm.875-2.154l.576 1.408H2.368l.576-1.408zm17.952.16h.8v-.757h-.821c-.587 0-1.013.128-1.28.416-.363.384-.459.853-.459 1.387 0 .64.149 1.045.448 1.355.235.32.661.437 1.227.395h.992l.32-.789h1.76l.331.789h1.717v-2.656l1.6 2.656h1.195v-3.541h-.864v2.464l-1.483-2.464h-1.291v3.349l-1.429-3.349H22.4l-1.195 2.784h-.384c-.224 0-.459-.043-.587-.181-.16-.181-.235-.448-.235-.832 0-.373.096-.651.245-.8.171-.181.341-.224.651-.224zm2.112-.16l.587 1.408h-1.163l.576-1.408zm-5.141-.598h.864v3.541h-.864v-3.541zm3.136 7.04c0-.405-.171-.629-.437-.789-.277-.149-.587-.171-1.013-.171h-1.952v3.541h.853v-1.291h.907c.309 0 .501.032.619.16.16.16.139.48.139.693v.437h.853v-.704c0-.309-.021-.469-.139-.651a.935.935 0 0 0-.416-.299c.203-.075.587-.363.587-.928zm-1.11.502c-.117.064-.256.075-.416.075h-1.024v-.789h1.045c.149 0 .299 0 .405.064.107.053.171.171.171.32s-.075.267-.181.331zm-4.117-1.451h-2.699L12 19.915l-1.045-1.163H7.563v3.541h3.349l1.077-1.173 1.045 1.173h1.643v-1.184h1.056c.736 0 1.472-.203 1.472-1.184-.011-.992-.757-1.173-1.429-1.173zm-5.301 2.795H8.406v-.704h1.856v-.725H8.406v-.64h2.123l.928 1.035-.981 1.035zm3.36.416l-1.301-1.44 1.301-1.397v2.837zm1.93-1.579h-1.088v-.896h1.099c.309 0 .512.128.512.437 0 .299-.203.459-.523.459zm8.523-.907v-.725h-2.816v3.531h2.816v-.736h-1.973v-.704h1.931v-.725h-1.931v-.64zm6.603 1.035a.279.279 0 0 0-.075-.085c-.192-.192-.501-.277-.96-.288l-.459-.011a.996.996 0 0 1-.331-.043.27.27 0 0 1-.181-.267c0-.117.032-.192.128-.256.085-.053.192-.064.341-.064h1.536v-.757h-1.685c-.885 0-1.216.544-1.216 1.056 0 1.12.992 1.067 1.781 1.099.149 0 .235.021.299.075s.107.128.107.235a.362.362 0 0 1-.096.235c-.064.064-.181.085-.341.085h-1.621v.757h1.632c.544 0 .939-.149 1.152-.448.117-.171.181-.395.181-.661-.011-.309-.075-.501-.192-.661zm-1.238 2.464h-2.187v-.32c-.256.203-.715.32-1.152.32h-6.901v-1.141c0-.139-.011-.149-.149-.149h-.107v1.291h-2.272v-1.333c-.384.16-.811.181-1.173.171h-.267v1.173h-2.752l-.683-.768-.715.768H6.794v-4.939h4.555l.651.757.693-.757h3.051c.352 0 .928.032 1.195.288v-.288h2.731c.256 0 .811.053 1.141.288v-.288h4.128v.288c.203-.192.64-.288 1.013-.288h2.315v.288c.245-.171.587-.288 1.056-.288h1.568V1.612H.918V14.06l.917-2.101h2.208l.288.587v-.587h2.581l.565 1.269.555-1.269h8.203c.373 0 .704.075.949.288v-.288h2.251v.288c.384-.213.864-.288 1.408-.288h3.253l.299.587v-.587h2.411l.331.587v-.587h2.347v4.928h-2.368l-.448-.747v.747h-2.965l-.32-.789h-.725l-.331.789h-1.536c-.608 0-1.056-.139-1.355-.299v.299h-3.648v-1.12c0-.16-.032-.171-.128-.171h-.139v1.291H8.46v-.608l-.256.608H6.732l-.256-.608v.597H3.639l-.32-.789h-.725l-.331.789H.919v14.901h29.963v-9.045c-.331.181-.779.245-1.227.245zm-3.221-1.451h-1.643v.757h1.643c.853 0 1.323-.352 1.323-1.12 0-.363-.085-.576-.256-.747-.192-.192-.501-.277-.971-.288l-.459-.011a.996.996 0 0 1-.331-.043.27.27 0 0 1-.181-.267c0-.117.032-.192.128-.256.085-.053.181-.064.341-.064h1.547v-.757h-1.696c-.885 0-1.205.544-1.205 1.056 0 1.12.992 1.067 1.781 1.099.149 0 .235.021.299.075a.326.326 0 0 1 .107.235.362.362 0 0 1-.096.235c-.053.075-.171.096-.331.096z">
                          </path>
                      </svg>
                  </li>
                  
                  
                  <li>
                      
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-paypal" viewBox="0 0 57 32">
                          <path d="M53.906 12.625h3.219l-2.656 12h-3.188zm-45.375.031q1.469 0 2.484 1.078t.609 2.984q-.375 1.844-1.703 2.891T6.78 20.656H4.311l-.875 3.969H-.002l2.625-11.969h5.906zm30.625 0q1.469 0 2.5 1.078t.625 2.984q-.25 1.219-.953 2.125t-1.719 1.359-2.234.453h-2.438l-.844 3.969h-3.438l2.625-11.969h5.875zm-26.312 3.032q.156-.031.672-.156t.859-.203.906-.156 1.094-.078q.875-.031 1.641.125t1.406.5.906 1.031.047 1.625l-1.313 6.25h-3.156l.219-.938q-.656.656-1.656.938t-1.891.141-1.422-.984-.281-2.219q.344-1.625 1.953-2.328t4.391-.703q.094-.469-.094-.75t-.563-.391-1-.078q-.813.031-1.75.25t-1.25.406zm30.687 0q.188-.031.547-.125t.672-.172.703-.141.813-.109.859-.047q.906-.031 1.672.125t1.406.5.922 1.031.063 1.625l-1.344 6.25h-3.188l.219-.938q-.656.656-1.672.938t-1.922.141-1.438-.984-.281-2.219q.219-1.125 1.094-1.797t2.156-.953 3.156-.281q.156-.719-.266-.984t-1.391-.234q-.563 0-1.219.125t-1.141.266-.734.266zM6.406 18.375q.438 0 .859-.219t.719-.594.391-.844q.188-.688-.156-1.156t-1-.469H5.563l-.75 3.281h1.594zm30.657 0q.656 0 1.25-.484t.75-1.172-.203-1.156-.984-.469h-1.75l-.688 3.281h1.625zm-15.25-3.094l1.281 9.406-2.313 3.938h3.531l7.5-13.344h-3.25l-3.125 5.563-.5-5.563h-3.125zM16.625 21.5q0-.313.156-.844h-.813q-1.469 0-1.875.781-.313.563-.016.938t.859.375q1.375-.063 1.688-1.25zm30.719 0q.063-.531.188-.844h-.781q-1.563 0-1.906.781-.313.563-.016.938t.859.375q1.406-.063 1.656-1.25z">
                          </path>
                      </svg>
                  </li>
                  
                  
                  <li>
                         
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-diners_club" viewBox="0 0 28 32">
                          <path d="M16.25 7.4q3.031 0 5.641 1.375t4.234 3.953 1.625 5.734q0 2.938-1.609 5.469t-4.266 3.984-5.625 1.453h-5.188q-2.969 0-5.531-1.453t-4.047-3.984T0 18.462q0-3.188 1.5-5.734T5.516 8.79t5.547-1.391h5.188zm-5.156 21.031q2.75 0 5.063-1.344t3.656-3.656 1.344-5.063q0-2.719-1.344-5.031t-3.656-3.656-5.063-1.344q-2.719 0-5.031 1.344t-3.656 3.656-1.344 5.031q0 2.75 1.344 5.063t3.656 3.656 5.031 1.344zm-2.281-4.125Q7 23.618 5.875 21.993t-1.156-3.625q.031-2 1.172-3.641t2.922-2.297v11.875zm4.593-11.875q1.781.656 2.922 2.297t1.141 3.641-1.141 3.625-2.922 2.313V12.432z">
                          </path>
                      </svg>
                  </li>
                  
                  
                  <li>
                     
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-discover" viewBox="0 0 84 32">
                          <path d="M36.156 24.587q-1.75.781-3.25.781-2.969 0-5-2.016t-2.031-4.984q0-2.875 2.078-4.922t5.016-2.047q1.656 0 3.188.813v3.063q-1.531-1.5-3.25-1.5-1.844 0-3.109 1.344t-1.266 3.25q0 2.031 1.266 3.313t3.234 1.281q1.688 0 3.125-1.438v3.063zm-12.937-9.843q-.938-1.063-2.125-1.063-.844 0-1.391.422t-.547 1.047q0 .531.422.891t1.578.766q2.25.813 3.063 1.703t.813 2.484q0 1.938-1.297 3.156t-3.328 1.219q-2.906 0-4.625-2.531l1.688-1.625q.938 1.781 2.844 1.781.875 0 1.453-.531t.578-1.344q0-.844-.781-1.375-.438-.281-1.813-.75-1.813-.688-2.547-1.5t-.734-2.219q0-1.625 1.203-2.719t2.953-1.094q2.219 0 3.938 1.531zm21.062-3.281q3 0 5.047 2.016t2.047 4.922-2.063 4.938-5.031 2.031q-3.063 0-5.109-2t-2.047-5.031q0-2.875 2.094-4.875t5.063-2zm-40.468.218q3.156 0 5.172 1.875t2.016 4.812q0 1.469-.625 2.828t-1.781 2.328q-1.938 1.563-4.781 1.563H.001V11.681h3.813zm8.375 0h2.625v13.406h-2.625V11.681zm48.687 0h2.844L57.906 25.4h-1.375l-5.656-13.719h2.813l3.563 9zm4 0h7.406v2.281H67.5v2.969h4.594v2.25H67.5v3.625h4.781v2.281h-7.406V11.681zm13 0q2.25 0 3.469 1.031t1.219 2.938q0 1.531-.766 2.5t-2.234 1.281l4.188 5.656h-3.188l-3.625-5.438h-.313v5.438H74V11.681h3.875zm-.5 6.156q2.531 0 2.531-2.063 0-1.969-2.531-1.969h-.75v4.031h.75zM3.344 22.806q2.375 0 3.531-1.063.688-.625 1.078-1.516t.391-1.859q0-2.031-1.469-3.313-1.188-1.094-3.531-1.094h-.719v8.844h.719z">
                          </path>
                      </svg>
                  </li>

              </ul>
               
          </div>
      </div>
  </div>
</section>
