
<section class="gt_section-215658" data-name="Top Bar">
   <div class="gt_topbar">
      <div class="gt_container">
         <div class="gt_flex gt_justify-c-between gt_align-i-center gt_topbar-content">
            <div class="gt_flex gt_align-i-center gt_social">
               
               
               <a class="gt_social__facebook" href="https://#" target="_blank">
                <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.27273 5.18087H4.79589V3.52027C4.79589 2.89663 5.20022 2.75123 5.485 2.75123C5.76913 2.75123 7.23288 2.75123 7.23288 2.75123V0.00960457L4.8257 0C2.1535 0 1.54539 2.04479 1.54539 3.35334V5.18087H0V8.00596H1.54539C1.54539 11.6315 1.54539 16 1.54539 16H4.79589C4.79589 16 4.79589 11.5885 4.79589 8.00596H6.98924L7.27273 5.18087Z" fill="#FFFFFF"/>
                </svg>
               </a>
               
               
               
               <a class="gt_social__twitter" href="https://#" target="_blank">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.728 1.54963C17.0863 1.81286 16.3958 1.99042 15.6712 2.06988C16.411 1.66113 16.9783 1.01368 17.2458 0.241322C16.5538 0.620309 15.7878 0.895312 14.9718 1.04377C14.3188 0.401549 13.388 0 12.358 0C10.3806 0 8.77732 1.47965 8.77732 3.30494C8.77732 3.56359 8.80885 3.8157 8.87015 4.05801C5.89391 3.92001 3.25499 2.60451 1.48873 0.60494C1.18048 1.09282 1.00403 1.66048 1.00403 2.26673C1.00403 3.41317 1.63613 4.42489 2.59703 5.01741C2.01028 5.00008 1.45791 4.85129 0.974978 4.60376C0.974624 4.61749 0.974624 4.63155 0.974624 4.64562C0.974624 6.24658 2.20905 7.58203 3.8474 7.88613C3.54694 7.96134 3.23054 8.00189 2.90386 8.00189C2.67285 8.00189 2.44857 7.98129 2.22996 7.94238C2.68596 9.25526 4.00826 10.2111 5.57503 10.2376C4.34946 11.124 2.80572 11.6525 1.12769 11.6525C0.838922 11.6525 0.553699 11.6368 0.273438 11.606C1.85864 12.5442 3.74075 13.0909 5.76282 13.0909C12.3499 13.0909 15.9515 8.05519 15.9515 3.68785C15.9515 3.54462 15.9483 3.40173 15.9415 3.25981C16.6409 2.79482 17.2482 2.21245 17.728 1.54963Z" fill="#FFFFFF"/>
                </svg>
               </a>
               
               
               
               <a class="gt_social__youtube" href="https://#" target="_blank">
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.0085 2.82579C18.0085 2.82579 17.8382 1.54194 17.315 0.976669C16.6509 0.23571 15.9073 0.231345 15.5662 0.189332C13.1235 6.50436e-08 9.45961 0 9.45961 0H9.45142C9.45142 0 5.78755 6.50436e-08 3.34533 0.189332C3.00432 0.231345 2.26118 0.23571 1.59661 0.976669C1.0739 1.54194 0.903116 2.82579 0.903116 2.82579C0.903116 2.82579 0.728516 4.33226 0.728516 5.83873V7.25081C0.728516 8.75837 0.903116 10.2643 0.903116 10.2643C0.903116 10.2643 1.07335 11.5476 1.59661 12.1118C2.26118 12.8527 3.13254 12.8304 3.52102 12.9079C4.91728 13.0508 9.45579 13.095 9.45579 13.095C9.45579 13.095 13.1235 13.0885 15.5662 12.9013C15.9073 12.8577 16.6509 12.8533 17.315 12.1123C17.8377 11.5482 18.0085 10.2648 18.0085 10.2648C18.0085 10.2648 18.1831 8.75837 18.1831 7.25136V5.83928C18.1831 4.33226 18.0085 2.82579 18.0085 2.82579Z" fill="#FFFFFF"/>
                    <path d="M7.27605 3.27422V9.82172L12.7323 6.54797L7.27605 3.27422Z" fill="#333333"/>
                  </svg>
               </a>
               
              
               
            </div>
            <div class="gt_topbar-text"> 
               <span>FREE SHIPPING WORLDWIDE ON ORDER OVER 75$</span>
            </div>
            <div class="gt_flex gt_justify-c-right gt_info">
               <div class="gt_topbar_currency">
                  <div hook-currency="true"></div>
               </div>
               
               <a href="/account/login">
                 <div class="gt_topbar-item gt_info__text">
                    <span class="gt_flex gt_justify-c-center gt_align-i-center">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99986 1.75C6.66831 1.75 5.58887 2.82944 5.58887 4.16099C5.58887 5.49255 6.66831 6.57199 7.99986 6.57199C9.33142 6.57199 10.4109 5.49255 10.4109 4.16099C10.4109 2.82944 9.33142 1.75 7.99986 1.75ZM4.08887 4.16099C4.08887 2.00101 5.83988 0.25 7.99986 0.25C10.1598 0.25 11.9109 2.00101 11.9109 4.16099C11.9109 6.32098 10.1598 8.07199 7.99986 8.07199C5.83988 8.07199 4.08887 6.32098 4.08887 4.16099Z" fill="#FFFFFF"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.53271 15C1.53271 11.4248 4.42478 8.53276 7.99999 8.53276C11.5752 8.53276 14.4673 11.4248 14.4673 15C14.4673 15.4143 14.1315 15.75 13.7173 15.75H2.28271C1.8685 15.75 1.53271 15.4143 1.53271 15ZM3.08877 14.25H12.9112C12.5505 11.8601 10.4918 10.0328 7.99999 10.0328C5.5082 10.0328 3.44951 11.8601 3.08877 14.25Z" fill="#FFFFFF"/>
                      </svg>
                    </span>
                    <span class="gt_topbar-item-text">
                      Login
                    </span>
                 </div>
               </a>
               
            </div>
         </div>
      </div>
   </div>
</section>

<section class="gt_section-215694 " data-name="Header">
<div class="gt_header-pilot">
    <div class="gt_menu-mobile">
        <div class="gt_search_mobile">
            <form action="/search" method="get" role="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="search-mobile">
            <div class="gt_search_mobile_content">
                
                <input type="hidden" name="type" value="product">
                
                <input class="gt_nav-search-input" name="q" required="required" value="{{ search.terms | escape }}" type="search" placeholder="Search ...">
                <button type="submit">
                    <svg class="svg-icon gt_ic-search" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <path fill="currentColor" fill-rule="evenodd" d="M26.858 28l-7.89-7.889a11.376 11.376 0 0 1-7.51 2.804c-3.06 0-5.938-1.192-8.102-3.356A11.386 11.386 0 0 1 0 11.458C0 8.397 1.192 5.52 3.357 3.357A11.38 11.38 0 0 1 11.459 0c3.06 0 5.936 1.192 8.101 3.357 4.275 4.275 4.458 11.115.55 15.61l7.89 7.89L26.858 28zM11.531 1.647a9.818 9.818 0 0 0-6.989 2.895 9.817 9.817 0 0 0-2.895 6.988 9.816 9.816 0 0 0 2.895 6.988 9.817 9.817 0 0 0 6.99 2.894 9.82 9.82 0 0 0 6.99-2.894c3.853-3.853 3.853-10.124 0-13.977a9.828 9.828 0 0 0-6.99-2.894z">
                    </path>
                    </svg>
                    
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 27 27" fill="none">-->
                    <!--   <path d="M10.2313 20.2428C8.24595 20.2465 6.30414 19.6609 4.65182 18.5602C2.9995 17.4595 1.711 15.8932 0.949516 14.0597C0.188033 12.2261 -0.0121774 10.2079 0.374241 8.26046C0.760659 6.31305 1.71632 4.52413 3.1202 3.12026C4.52407 1.71638 6.31299 0.76072 8.2604 0.374302C10.2078 -0.0121164 12.2261 0.188094 14.0596 0.949577C15.8932 1.71106 17.4595 2.99956 18.5602 4.65188C19.6609 6.3042 20.2465 8.24602 20.2428 10.2314C20.2378 12.8851 19.1814 15.4286 17.305 17.3051C15.4286 19.1815 12.885 20.2379 10.2313 20.2428ZM10.2322 1.71377C8.54663 1.7099 6.89785 2.20617 5.4945 3.13978C4.09115 4.07339 2.99633 5.40236 2.34862 6.95848C1.70091 8.51459 1.52943 10.2279 1.85588 11.8815C2.18233 13.5351 2.99204 15.0547 4.18252 16.2479C5.373 17.4412 6.89073 18.2544 8.54359 18.5846C10.1964 18.9149 11.9101 18.7473 13.4677 18.1032C15.0253 17.4591 16.3568 16.3673 17.2937 14.9661C18.2305 13.5649 18.7306 11.9173 18.7306 10.2318C18.7306 7.97604 17.8358 5.81242 16.2426 4.21555C14.6494 2.61868 12.4879 1.71896 10.2322 1.71377Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.4"/>-->
                    <!--   <path d="M26.0587 26.8006L26.0502 26.7999L26.0416 26.8C25.9441 26.8012 25.8474 26.782 25.7578 26.7436C25.6682 26.7052 25.5876 26.6484 25.5213 26.577L25.5214 26.5769L25.516 26.5716L16.242 17.3167L16.242 17.3167L16.2415 17.3162C16.1707 17.2459 16.1144 17.1623 16.076 17.0702C16.0376 16.978 16.0179 16.8792 16.0179 16.7794C16.0179 16.6796 16.0376 16.5808 16.076 16.4886C16.1143 16.3967 16.1704 16.3132 16.2411 16.243C16.3824 16.1047 16.5722 16.0273 16.7699 16.0273C16.9676 16.0273 17.1575 16.1047 17.2987 16.243C17.2989 16.2431 17.2991 16.2433 17.2992 16.2434L26.6297 25.5165L26.6296 25.5166L26.6338 25.5205C26.7053 25.5876 26.7623 25.6687 26.8013 25.7587C26.8403 25.8488 26.8604 25.9458 26.8604 26.0439C26.8604 26.142 26.8403 26.2391 26.8013 26.3291C26.7623 26.4191 26.7053 26.5002 26.6338 26.5674L26.6285 26.5723L26.6237 26.5776C26.5524 26.6548 26.4645 26.715 26.3667 26.7536C26.2689 26.7923 26.1636 26.8083 26.0587 26.8006Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.4"/>-->
                    <!-- </svg>-->
                </button>
                
            </div>
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                
                
                
                
                

                
                <li class="gt_dropdown gt_level1" data-level="1">
                    
                    
                    
                    
                    
                      <div href="#">
                    
                    
                        <span>Mega Menu</span>
                        
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                <path d="M1 1L5 6L1 11" stroke="#000"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="#000" fill-rule="nonzero"/>
                                </g>
                            </svg>
                        </div>
                        
                    
                      </div>
                     
                    
                    
                    <ul class="gt_sub-menu">
                        <li class="gt_dropdown gt_nopad">
                            <div class="gt_nav-mobile">
                                <div class="gt_nav-return">
                                    <button class="gf_btn-back" type=" button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                            <path d="M5 11L1 6L5 1" stroke="#000"/>
                                        </svg>
                                    </button>
                                </div>
                                <span>Mega Menu</span>
                            </div>
                        </li>
                        
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <div href="#">
                            
                                NEW SEASON 
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </div>
                              
                            
                            
                            <ul class="gt_sub-menu gt_childlist">
                                <li class="gt_dropdown gt_nopad">
                                    <div class="gt_nav-mobile">
                                        <div class="gt_nav-return">
                                            <button class="gf_btn-back" type=" button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                                    <path d="M5 11L1 6L5 1" stroke="#000"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <span>NEW SEASON </span>
                                    </div>
                                </li>
                                
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Top Picks for Men
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Mens
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Womens
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Kids
                                        
                                            </a>
                                        
                                    </li>
                                
                            </ul>
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <div href="#">
                            
                                NEW ARRIVALS
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </div>
                              
                            
                            
                            <ul class="gt_sub-menu gt_childlist">
                                <li class="gt_dropdown gt_nopad">
                                    <div class="gt_nav-mobile">
                                        <div class="gt_nav-return">
                                            <button class="gf_btn-back" type=" button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                                    <path d="M5 11L1 6L5 1" stroke="#000"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <span>NEW ARRIVALS</span>
                                    </div>
                                </li>
                                
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Air Mattresses
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Backpacks
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Camp Kitchen
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Shelters
                                        
                                            </a>
                                        
                                    </li>
                                
                            </ul>
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <div href="#">
                            
                                CAMPING
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </div>
                              
                            
                            
                            <ul class="gt_sub-menu gt_childlist">
                                <li class="gt_dropdown gt_nopad">
                                    <div class="gt_nav-mobile">
                                        <div class="gt_nav-return">
                                            <button class="gf_btn-back" type=" button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                                    <path d="M5 11L1 6L5 1" stroke="#000"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <span>CAMPING</span>
                                    </div>
                                </li>
                                
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Sleeping
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Festival Camping
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Backpacking
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Expedition
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Camp Kitchen
                                        
                                            </a>
                                        
                                    </li>
                                
                            </ul>
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <div href="#">
                            
                                OUTLET
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </div>
                              
                            
                            
                            <ul class="gt_sub-menu gt_childlist">
                                <li class="gt_dropdown gt_nopad">
                                    <div class="gt_nav-mobile">
                                        <div class="gt_nav-return">
                                            <button class="gf_btn-back" type=" button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                                    <path d="M5 11L1 6L5 1" stroke="#000"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <span>OUTLET</span>
                                    </div>
                                </li>
                                
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Camping
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Hydration
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        GPS & Watches
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Electronics
                                        
                                            </a>
                                        
                                    </li>
                                
                            </ul>
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <div href="#">
                            
                                ACCESSORIES
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </div>
                              
                            
                            
                            <ul class="gt_sub-menu gt_childlist">
                                <li class="gt_dropdown gt_nopad">
                                    <div class="gt_nav-mobile">
                                        <div class="gt_nav-return">
                                            <button class="gf_btn-back" type=" button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                                    <path d="M5 11L1 6L5 1" stroke="#000"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <span>ACCESSORIES</span>
                                    </div>
                                </li>
                                
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Camping
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Climbing
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Fishing
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Diving
                                        
                                            </a>
                                        
                                    </li>
                                
                            </ul>
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <div href="#">
                            
                                EQUIPMENT
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </div>
                              
                            
                            
                            <ul class="gt_sub-menu gt_childlist">
                                <li class="gt_dropdown gt_nopad">
                                    <div class="gt_nav-mobile">
                                        <div class="gt_nav-return">
                                            <button class="gf_btn-back" type=" button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                                    <path d="M5 11L1 6L5 1" stroke="#000"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <span>EQUIPMENT</span>
                                    </div>
                                </li>
                                
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Camping
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Climbing
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        GPS & Watches
                                        
                                            </a>
                                        
                                    </li>
                                
                                    
                                    <li>
                                        
                                        
                                        
                                        

                                        
                                            <a href="#">
                                        
                                        Electronics
                                        
                                            </a>
                                        
                                    </li>
                                
                            </ul>
                            
                        </li>
                        
                    </ul>
                    
                </li>


                
                
                
                

                
                <li class="gt_dropdown gt_level1" data-level="1">
                    
                    
                    
                    
                    
                      <div href="#">
                    
                    
                        <span>Catalog</span>
                        
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                <path d="M1 1L5 6L1 11" stroke="#000"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="#000" fill-rule="nonzero"/>
                                </g>
                            </svg>
                        </div>
                        
                    
                      </div>
                     
                    
                    
                    <ul class="gt_sub-menu">
                        <li class="gt_dropdown gt_nopad">
                            <div class="gt_nav-mobile">
                                <div class="gt_nav-return">
                                    <button class="gf_btn-back" type=" button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                            <path d="M5 11L1 6L5 1" stroke="#000"/>
                                        </svg>
                                    </button>
                                </div>
                                <span>Catalog</span>
                            </div>
                        </li>
                        
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <a href="#">
                            
                                A long menu first line 
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </a>
                              
                            
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <a href="#">
                            
                                A long menu second line
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </a>
                              
                            
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <a href="#">
                            
                                Okay another line
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </a>
                              
                            
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <a href="#">
                            
                                Maybe another one ?
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </a>
                              
                            
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <a href="#">
                            
                                Okay its time to stop
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </a>
                              
                            
                            
                        </li>
                        
                        
                        <li class="gt_dropdown" data-level="2">
                            
                            
                            
                            
                            
                              <a href="#">
                            
                                Last line, I promise
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                        <path d="M1 1L5 6L1 11" stroke="#000"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1" class="gt_ic-minus">
                                        <g id="-minus" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path d="M4.5,13.6 L21.398831,13.6 C21.7302019,13.6 21.998831,13.3313708 21.998831,13 C21.998831,12.6686292 21.7302019,12.4 21.398831,12.4 L4.5,12.4 C4.16862915,12.4 3.9,12.6686292 3.9,13 C3.9,13.3313708 4.16862915,13.6 4.5,13.6 Z" id="Line" fill="red" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                </div>
                              
                                </a>
                              
                            
                            
                        </li>
                        
                    </ul>
                    
                </li>


                
                
                
                

                
                <li class="gt_dropdown gt_level1" data-level="1">
                    
                    
                    
                    
                    
                      <a href="#">
                    
                    
                        <span>Sales</span>
                        
                    
                      </a>
                    
                    
                    
                </li>


                
                
                
            </ul>
        </div>
    </div>
    

    <header class="gt_site-header {% if template.name != 'index' %}fixheader{% endif %}  " id="header">
        <h1 class="gt_logo logo_mobile">
        <a href="/" class="img1">
            
                <img class=" gt_lazyload" src="https://cdn.gemthemes.net/staging/images/admin/91f88c7e-6172-48d5-b4f6-7a4748580488.png" alt="logo image">

        
            </a>
        <a href="/" class="img2">
            
                <img class=" gt_lazyload" src="https://cdn.gemthemes.net/staging/images/admin/91f88c7e-6172-48d5-b4f6-7a4748580488.png" alt="logo image">

        
        </a> 
    </h1>
    <div class="gt_cart cart_mobile">
        <a class="gt_show-cart" href="/cart" data-cart>
            <svg class="svg-icon gt_ic-shopping-car" width="28" height="24" viewBox="0 0 28 24">
            <path fill="currentColor" d="M0.00549316406,0.00341796875 L0,1.31665527 L3.86992452,1.31665527 C5.19152452,6.73894861 7.85501467,17.2152259 7.85501467,17.2152259 C7.92254938,17.481112 8.20782148,17.6966553 8.48322255,17.6966553 L23.7786204,17.6966553 C24.0580354,17.6966553 24.3451532,17.4846551 24.4218708,17.2163022 L28.0056873,4.68035384 C28.0815297,4.41506216 27.923855,4.20000076 27.6389203,4.20000076 L6,4.20000076 C5.63264,2.72049527 4.93469238,0 4.93469238,0 L0.00549316406,0.00341796875 Z M6.38000488,5.60000038 L26.4599915,5.60000038 L23.4200134,16.3766479 L8.98999023,16.3766479 L6.38000488,5.60000038 Z M9,21.68 C9,22.60736 9.75264,23.36 10.68,23.36 C11.60736,23.36 12.36,22.60736 12.36,21.68 C12.36,20.75264 11.60736,20 10.68,20 C9.75264,20 9,20.75264 9,21.68 Z M19,21.68 C19,22.60736 19.75264,23.36 20.68,23.36 C21.60736,23.36 22.36,22.60736 22.36,21.68 C22.36,20.75264 21.60736,20 20.68,20 C19.75264,20 19,20.75264 19,21.68 Z"/>
            </svg>
            <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 23" fill="none"-->
            <!--class="svg-icon gt_ic-shopping-cart">-->
            <!--<path-->
            <!--    d="M12.8479 3.32722C13.5043 3.88539 13.9613 4.63908 14.1542 5.47454H6.39582C6.58923 4.63689 7.0481 3.88148 7.70717 3.32295C8.4267 2.71318 9.33854 2.37728 10.2817 2.37454C11.2225 2.38041 12.1312 2.71773 12.8479 3.32722ZM18.85 5.47454H15.9648C15.7102 4.18738 15.0261 3.02267 14.022 2.17285C12.9747 1.28643 11.6471 0.8 10.275 0.8C8.90292 0.8 7.57527 1.28643 6.52796 2.17285C5.52388 3.02267 4.83982 4.18738 4.58524 5.47454H1.7C1.46131 5.47454 1.23239 5.56936 1.0636 5.73815C0.894821 5.90693 0.8 6.13585 0.8 6.37454V21.0745C0.8 21.3132 0.894821 21.5422 1.0636 21.7109C1.23239 21.8797 1.46131 21.9745 1.7 21.9745H18.85C19.0887 21.9745 19.3176 21.8797 19.4864 21.7109C19.6552 21.5422 19.75 21.3132 19.75 21.0745V6.37454C19.75 6.13585 19.6552 5.90693 19.4864 5.73815C19.3176 5.56936 19.0887 5.47454 18.85 5.47454ZM2.6 20.1745V7.27454H17.95V20.1745H2.6Z"-->
            <!--    fill="white" stroke="white" stroke-width="0.4" />-->
            <!--</svg>-->
            <span class="gt_cart-count">{{ cart.item_count }}</span>
        </a>
    </div>

    <!---->
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            
            
            
            
            
            

            
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                    
                    
                
            
            <li class="active  ">
                
                
                
                
                <a class=" sub_menu_l1" href="#">
                  <span>
                    Mega Menu
                  </span>
                    
                    
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5" fill="#000">
                            <path d="M10 0H0L5 5L10 0Z" fill="#000"/>
                        </svg>
                    </div>
                    
                </a>
                
                
                    
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                
                <ul class="gt_sub-menu ">
                    <div class="gt_flex-wrap menu_nav">
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            NEW SEASON 
                          </span> 
                        </a>
                        
                            
                        <ul class="gt_flex-wrap gt_childlist">
                        
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Top Picks for Men
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Mens
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Womens
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Kids
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                        </ul>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            NEW ARRIVALS
                          </span> 
                        </a>
                        
                            
                        <ul class="gt_flex-wrap gt_childlist">
                        
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Air Mattresses
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Backpacks
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Camp Kitchen
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Shelters
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                        </ul>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            CAMPING
                          </span> 
                        </a>
                        
                            
                        <ul class="gt_flex-wrap gt_childlist">
                        
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Sleeping
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Festival Camping
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Backpacking
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Expedition
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Camp Kitchen
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                        </ul>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            OUTLET
                          </span> 
                        </a>
                        
                            
                        <ul class="gt_flex-wrap gt_childlist">
                        
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Camping
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Hydration
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    GPS & Watches
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Electronics
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                        </ul>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            ACCESSORIES
                          </span> 
                        </a>
                        
                            
                        <ul class="gt_flex-wrap gt_childlist">
                        
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Camping
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Climbing
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Fishing
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Diving
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                        </ul>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            EQUIPMENT
                          </span> 
                        </a>
                        
                            
                        <ul class="gt_flex-wrap gt_childlist">
                        
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Camping
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Climbing
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    GPS & Watches
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                            
                            
                            <li>
                                
                                
                                
                                
                                <a href="#">
                                  <span>
                                    Electronics
                                  </span>
                                    
                                </a>
                            </li>
                            
                            
                        </ul>
                        
                    </li>
                    
                    
                    </div>
                    
                        <div class="menu_item_product">
                        <li class="item_product">
                            <div class="item_product_content">
                            <div class="image_product">
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <img class=" gt_lazyload" src="https://cdn.gemthemes.net/staging/images/f5f64f45-9d9d-4feb-abbd-6b66cd4408ad.jpeg" alt="Image Product">
                            </div>
                                
                                <p class="gt_name">Women Leather Handbag</p>
                                <p class="gt_mess">Hurry Up, Time Is Running Out</p>
                                
                            </div>
                        </li>
                        </div>
                    
                        
                </ul>
                
            </li>
            
            
            
            

            
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                    
                    
                
            
            <li class="active  ">
                
                
                
                
                <a class=" sub_menu_l1" href="#">
                  <span>
                    Catalog
                  </span>
                    
                    
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5" fill="#000">
                            <path d="M10 0H0L5 5L10 0Z" fill="#000"/>
                        </svg>
                    </div>
                    
                </a>
                
                
                    
                
                    
                    
                
                    
                    
                
                    
                    
                
                    
                    
                
                    
                    
                
                    
                    
                
                
                <ul class="gt_sub-menu  gt_no-child typeSubMenu  ">
                    <div class="gt_flex-wrap menu_nav">
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            A long menu first line 
                          </span> 
                        </a>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            A long menu second line
                          </span> 
                        </a>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            Okay another line
                          </span> 
                        </a>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            Maybe another one ?
                          </span> 
                        </a>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            Okay its time to stop
                          </span> 
                        </a>
                        
                    </li>
                    
                    
                      
                        
                    <li>
                        
                        
                        
                        
                        <a class="title_menu" href="#">
                          <span>
                            Last line, I promise
                          </span> 
                        </a>
                        
                    </li>
                    
                    
                    </div>
                    
                        <div class="menu_item_product">
                        <li class="item_product">
                            <div class="item_product_content">
                            <div class="image_product">
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <img class=" gt_lazyload" src="https://cdn.gemthemes.net/staging/images/f5f64f45-9d9d-4feb-abbd-6b66cd4408ad.jpeg" alt="Image Product">
                            </div>
                                
                                <p class="gt_name">Women Leather Handbag</p>
                                <p class="gt_mess">Hurry Up, Time Is Running Out</p>
                                
                            </div>
                        </li>
                        </div>
                    
                        
                </ul>
                
            </li>
            
            
            
            

            
                
                    
                    
                     
                    
                
                    
                    
                     
                    
                
                    
                    
                
            
            <li class="active  ">
                
                
                
                
                <a class=" sub_menu_l1" href="#">
                  <span>
                    Sales
                  </span>
                    
                    
                </a>
                
            </li>
            
            
            
        </ul>
    </div>
    
        <h1 class="gt_logo logo_desktop">
        <a href="/" class="img1">
            
        
        <img class=" gt_lazyload" src="https://cdn.gemthemes.net/staging/images/admin/91f88c7e-6172-48d5-b4f6-7a4748580488.png" alt="logo image">

        
            </a>
        <a href="/" class="img2">
            
            <img class=" gt_lazyload" src="https://cdn.gemthemes.net/staging/images/admin/91f88c7e-6172-48d5-b4f6-7a4748580488.png" alt="logo image">
        
        </a> 
        </h1>
    
        <div class="gt_header-tools ">
        <ul class="gt_tool tool_desktop">
            <li class="gt_usd">
                <div data-currency></div>
                <!--<select class="gt_currency-picker" name="currencies">-->
                <!--    <option value="USD" selected="selected">USD</option>-->
                <!--    <option value="JPN">JPN</option>-->
                <!--    <option value="VND">VND</option>-->
                <!--    <option value="EUR">EUR</option>-->
                <!--    <option value="JPY">JPY</option>-->
                <!--</select>-->
                <!--<svg class="Icon Icon--select-arrow" role="presentation" viewBox="0 0 19 12">-->
                <!--    <polyline fill="none" stroke="currentColor" points="17 2 9.5 10 2 2" fill-rule="evenodd"-->
                <!--    stroke-width="2" stroke-linecap="square"></polyline>-->
                <!--</svg>-->
            </li>
            <li class="gt_search">
                <a class="gt_show-search">
                    <svg class="svg-icon gt_ic-search" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <path fill="currentColor" fill-rule="evenodd" d="M26.858 28l-7.89-7.889a11.376 11.376 0 0 1-7.51 2.804c-3.06 0-5.938-1.192-8.102-3.356A11.386 11.386 0 0 1 0 11.458C0 8.397 1.192 5.52 3.357 3.357A11.38 11.38 0 0 1 11.459 0c3.06 0 5.936 1.192 8.101 3.357 4.275 4.275 4.458 11.115.55 15.61l7.89 7.89L26.858 28zM11.531 1.647a9.818 9.818 0 0 0-6.989 2.895 9.817 9.817 0 0 0-2.895 6.988 9.816 9.816 0 0 0 2.895 6.988 9.817 9.817 0 0 0 6.99 2.894 9.82 9.82 0 0 0 6.99-2.894c3.853-3.853 3.853-10.124 0-13.977a9.828 9.828 0 0 0-6.99-2.894z">
                    </path>
                    </svg>
                    
                    <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none"-->
                    <!--class="svg-icon gt_ic-search">-->
                    <!--<path-->
                    <!--    d="M4.43463 15.7453C5.77834 16.6404 7.35748 17.1166 8.97203 17.1136C11.1301 17.1096 13.1986 16.2505 14.7245 14.7245C16.2505 13.1986 17.1096 11.1301 17.1136 8.97203C17.1166 7.35748 16.6404 5.77834 15.7453 4.43463C14.8502 3.09092 13.5764 2.04308 12.0853 1.42382C10.5942 0.804563 8.95291 0.641747 7.36923 0.955992C5.78554 1.27024 4.33074 2.04741 3.18907 3.18907C2.04741 4.33074 1.27024 5.78554 0.955992 7.36923C0.641747 8.95291 0.804563 10.5942 1.42382 12.0853C2.04308 13.5764 3.09092 14.8502 4.43463 15.7453ZM5.48411 3.75171C6.51703 3.06454 7.73059 2.69926 8.9712 2.70211C10.6315 2.70593 12.2225 3.36815 13.3951 4.54351C14.5678 5.71886 15.2263 7.31137 15.2263 8.97166C15.2263 10.2123 14.8583 11.425 14.1687 12.4563C13.4792 13.4877 12.4991 14.2912 11.3527 14.7653C10.2062 15.2394 8.94491 15.3627 7.72835 15.1197C6.51179 14.8766 5.39469 14.278 4.51845 13.3998C3.64222 12.5215 3.04624 11.4031 2.80596 10.1859C2.56568 8.96881 2.69189 7.70776 3.16863 6.56241C3.64537 5.41705 4.45119 4.43888 5.48411 3.75171Z"-->
                    <!--    fill="white" stroke="white" stroke-width="0.4" />-->
                    <!--<path-->
                    <!--    d="M20.9079 22.1415C21.0206 22.1898 21.1419 22.2145 21.2644 22.2142C21.3965 22.2227 21.5289 22.2019 21.6521 22.1533C21.7757 22.1045 21.8869 22.0289 21.9778 21.932C22.0664 21.8475 22.1372 21.746 22.1859 21.6336C22.2355 21.519 22.2611 21.3954 22.2611 21.2705C22.2611 21.1457 22.2355 21.0221 22.1859 20.9075C22.1366 20.7938 22.0648 20.6913 21.9748 20.6062L14.7189 13.395L14.7189 13.395L14.7179 13.394C14.5415 13.2211 14.3044 13.1243 14.0574 13.1243C13.8104 13.1243 13.5732 13.2211 13.3969 13.394L13.3969 13.394L13.396 13.3948C13.3076 13.4826 13.2374 13.5869 13.1895 13.7019C13.1416 13.8169 13.1169 13.9402 13.1169 14.0648C13.1169 14.1894 13.1416 14.3127 13.1895 14.4277C13.2373 14.5426 13.3074 14.6469 13.3958 14.7345C13.3959 14.7346 13.3959 14.7347 13.396 14.7348L20.6063 21.9302C20.6911 22.0207 20.7938 22.0926 20.9079 22.1415Z"-->
                    <!--    fill="white" stroke="white" stroke-width="0.4" />-->
                    <!--</svg>-->
                </a>
            </li>
            <li class="gt_cart">
                <a class="gt_show-cart" href="/cart" data-cart>
                    <svg class="svg-icon gt_ic-shopping-car" width="28" height="24" viewBox="0 0 28 24">
                    <path fill="currentColor" d="M0.00549316406,0.00341796875 L0,1.31665527 L3.86992452,1.31665527 C5.19152452,6.73894861 7.85501467,17.2152259 7.85501467,17.2152259 C7.92254938,17.481112 8.20782148,17.6966553 8.48322255,17.6966553 L23.7786204,17.6966553 C24.0580354,17.6966553 24.3451532,17.4846551 24.4218708,17.2163022 L28.0056873,4.68035384 C28.0815297,4.41506216 27.923855,4.20000076 27.6389203,4.20000076 L6,4.20000076 C5.63264,2.72049527 4.93469238,0 4.93469238,0 L0.00549316406,0.00341796875 Z M6.38000488,5.60000038 L26.4599915,5.60000038 L23.4200134,16.3766479 L8.98999023,16.3766479 L6.38000488,5.60000038 Z M9,21.68 C9,22.60736 9.75264,23.36 10.68,23.36 C11.60736,23.36 12.36,22.60736 12.36,21.68 C12.36,20.75264 11.60736,20 10.68,20 C9.75264,20 9,20.75264 9,21.68 Z M19,21.68 C19,22.60736 19.75264,23.36 20.68,23.36 C21.60736,23.36 22.36,22.60736 22.36,21.68 C22.36,20.75264 21.60736,20 20.68,20 C19.75264,20 19,20.75264 19,21.68 Z"/>
                    </svg>
                    
                    <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 23" fill="none"-->
                    <!--class="svg-icon gt_ic-shopping-cart">-->
                    <!--<path-->
                    <!--    d="M12.8479 3.32722C13.5043 3.88539 13.9613 4.63908 14.1542 5.47454H6.39582C6.58923 4.63689 7.0481 3.88148 7.70717 3.32295C8.4267 2.71318 9.33854 2.37728 10.2817 2.37454C11.2225 2.38041 12.1312 2.71773 12.8479 3.32722ZM18.85 5.47454H15.9648C15.7102 4.18738 15.0261 3.02267 14.022 2.17285C12.9747 1.28643 11.6471 0.8 10.275 0.8C8.90292 0.8 7.57527 1.28643 6.52796 2.17285C5.52388 3.02267 4.83982 4.18738 4.58524 5.47454H1.7C1.46131 5.47454 1.23239 5.56936 1.0636 5.73815C0.894821 5.90693 0.8 6.13585 0.8 6.37454V21.0745C0.8 21.3132 0.894821 21.5422 1.0636 21.7109C1.23239 21.8797 1.46131 21.9745 1.7 21.9745H18.85C19.0887 21.9745 19.3176 21.8797 19.4864 21.7109C19.6552 21.5422 19.75 21.3132 19.75 21.0745V6.37454C19.75 6.13585 19.6552 5.90693 19.4864 5.73815C19.3176 5.56936 19.0887 5.47454 18.85 5.47454ZM2.6 20.1745V7.27454H17.95V20.1745H2.6Z"-->
                    <!--    fill="white" stroke="white" stroke-width="0.4" />-->
                    <!--</svg>-->
                    <span class="gt_cart-count">{{ cart.item_count }}</span>
                </a>
            </li>
        </ul>
        <div class="medium-up--hide gt_show-menu gt_toggle-menus">
            <div class="gt_toggle-menus-lines">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        </div>
        <div class="gt_nav-search search_desktop">
        <div class="gt_nav-search-overlay nav_search_desktop">
            <div class="gt_nav-search-container">
                <form action="/search" method="get" class="gt_search-form" role="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="250">
                    <div class="gt_inputGroup">
                    <div class="gt_svg-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 27 27" fill="none">
                          <path d="M10.2313 20.2428C8.24595 20.2465 6.30414 19.6609 4.65182 18.5602C2.9995 17.4595 1.711 15.8932 0.949516 14.0597C0.188033 12.2261 -0.0121774 10.2079 0.374241 8.26046C0.760659 6.31305 1.71632 4.52413 3.1202 3.12026C4.52407 1.71638 6.31299 0.76072 8.2604 0.374302C10.2078 -0.0121164 12.2261 0.188094 14.0596 0.949577C15.8932 1.71106 17.4595 2.99956 18.5602 4.65188C19.6609 6.3042 20.2465 8.24602 20.2428 10.2314C20.2378 12.8851 19.1814 15.4286 17.305 17.3051C15.4286 19.1815 12.885 20.2379 10.2313 20.2428ZM10.2322 1.71377C8.54663 1.7099 6.89785 2.20617 5.4945 3.13978C4.09115 4.07339 2.99633 5.40236 2.34862 6.95848C1.70091 8.51459 1.52943 10.2279 1.85588 11.8815C2.18233 13.5351 2.99204 15.0547 4.18252 16.2479C5.373 17.4412 6.89073 18.2544 8.54359 18.5846C10.1964 18.9149 11.9101 18.7473 13.4677 18.1032C15.0253 17.4591 16.3568 16.3673 17.2937 14.9661C18.2305 13.5649 18.7306 11.9173 18.7306 10.2318C18.7306 7.97604 17.8358 5.81242 16.2426 4.21555C14.6494 2.61868 12.4879 1.71896 10.2322 1.71377Z" fill="#000" stroke="#000" stroke-width="0.4"/>
                          <path d="M26.0587 26.8006L26.0502 26.7999L26.0416 26.8C25.9441 26.8012 25.8474 26.782 25.7578 26.7436C25.6682 26.7052 25.5876 26.6484 25.5213 26.577L25.5214 26.5769L25.516 26.5716L16.242 17.3167L16.242 17.3167L16.2415 17.3162C16.1707 17.2459 16.1144 17.1623 16.076 17.0702C16.0376 16.978 16.0179 16.8792 16.0179 16.7794C16.0179 16.6796 16.0376 16.5808 16.076 16.4886C16.1143 16.3967 16.1704 16.3132 16.2411 16.243C16.3824 16.1047 16.5722 16.0273 16.7699 16.0273C16.9676 16.0273 17.1575 16.1047 17.2987 16.243C17.2989 16.2431 17.2991 16.2433 17.2992 16.2434L26.6297 25.5165L26.6296 25.5166L26.6338 25.5205C26.7053 25.5876 26.7623 25.6687 26.8013 25.7587C26.8403 25.8488 26.8604 25.9458 26.8604 26.0439C26.8604 26.142 26.8403 26.2391 26.8013 26.3291C26.7623 26.4191 26.7053 26.5002 26.6338 26.5674L26.6285 26.5723L26.6237 26.5776C26.5524 26.6548 26.4645 26.715 26.3667 26.7536C26.2689 26.7923 26.1636 26.8083 26.0587 26.8006Z" fill="#000" stroke="#000" stroke-width="0.4"/>
                        </svg>
                    </div>
                    <input type="hidden" name="type" value="product">
                    <input class="gt_nav-search-input" name="q" type="search" placeholder="Search ..." value>
                    
                        
                            <a class="gt_close">
                        
                        
                        
                        <svg width="15" height="15" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 1L1 20" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20 20L1 1" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    
                        </a>
                    
                        
                    </div>
                </form>
                <div id="search-results" class="results"></div>
            </div>
        </div>
        </div>
    </header>
 </div>
</section><div class="gt_widget-5524" data-name="Scarcity Cart Page">
  <div class="content-widget">
    <div class="message-before">These products are limited, checkout within</div>
    <div class="time-count-down">
      <div class="container-time">
        <span class="minute">0</span>
        <span>:</span>
        <span class="seconds">00</span>
      </div>
    </div>
    <div class="message-after">so we don't run out of stock!</div>
  </div>
  <div class="message-notification">
    You're out of time! Checkout now to avoid losing your order!
  </div>
</div>

