<script  src="{{ 'urbit.js' | asset_url }}"></script>
{{ 'urbit.css' | asset_url | stylesheet_tag }}

<a class="urbit-btn btn button">Livraison à velo</a>
<div class="address-modal modal">
  <div id="address">
    <form action="">
    <label for="name">Prénom et Nom</label>
    <input  type="text" required name="name" value="{% if customer %} customer.name {% endif %}">
    <label for="address">Adresse</label>
    <input  type="text" required name="address">
    <label for="zip">Code Postal</label>
    <input  type="text" pattern="(\d{5})" required name="zip">
    <label for="city">Ville</label>
    <input  type="text" required name="city">
    <label for="phone">Téléphone</label>
    <input  type="tel"  required name="phone">
    <br>
    <input type="submit" class="hidden" value="Valider">
    </form>
    <a class="validate_address btn button" >Valider</a>

  </div>
</div>
<div class="urbit-modal modal">
  <div class="pickers_container">
    <div id="datepicker"></div>
    <div id="timepicker"></div>
  </div>

  <a class="validate_time btn button">Valider</a>

</div>


