<!DOCTYPE html>
<html class="Coming-Soon-Standalone">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Pre-launch</title>
    </head>
    <body>
        <script>window.__PrelauncherProxy = true;</script>
        <script src="https://pre-launcher.onltr.app/scripts/64dd7822ca819b5159affa3f3e81cc37.js"></script>

        <script>
            if (!window.__PrelauncherExposed) { location.assign('/'); }
        </script>
    </body>
</html>
  {{ content_for_header }}

  {{ content_for_layout }}
