{% layout 'theme.homepage' %}
<div class="page-width">
  <center>
<h2>404 | Error</h2>
<p>Page can't be found.</p>
<a href="/pages/store"><button class="enter">Enter Store</button></a>
</center>
</div>




</div>
