{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}

  - https://help.shopify.com/en/themes/development/templates/collection-liquid
{% endcomment %}

<div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section collection-page" data-check-for-order="true">
  {% comment %} Collection banner {% endcomment %}
  {% section 'collection__banner' %}
  <section class="section__wrapper
                  section
                  ">
    <div class="collection__breadcrumb-title-filter container is-justify-space-between is-flex-wrap has-padding-bottom is-align-center">
      <div class="one-third column medium-down--one-whole">
        {% comment %} Collection breadcrumb {% endcomment %}
        <div class="breadcrumb__container">
          {% include 'breadcrumb', type: 'collection' %}
        </div>

        {% comment %} Collection title {% endcomment %}
        <div class="collection__title hide-when-banner-enabled">
          {% include 'heading', title: collection.title, heading_tag: 'h1', context: 'collection', text_alignment: 'left' %}
        </div>
      </div>
      <div class="two-thirds column medium-down--one-whole">
        {% comment %} Collection filters {% endcomment %}
        <div class="collection__filters text-align-right">
          {% include 'collection__filters' %}
        </div>
      </div>
    </div>

    {% comment %} Collection description {% endcomment %}
    {% if collection.description != blank %}
      <div class="container">
        <div class="one-whole column">
          <div class="collection__description has-padding-bottom">
            {{ collection.description }}
          </div>
        </div>
      </div>
    {% endif %}

    {% comment %} Collection sidebar and main content area {% endcomment %}
    <div class="container collection__content">
      {% section 'collection__sidebar' %}
      {% section 'collection__main' %}
    </div>
  </section>
</div>

