<div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
      <span>{{ page.content }}</span>
    </div>

    <div class="rte">
      {% section 'featured-collection' %}
    </div>

  </div>

</div>
